html {
	padding: 1% 1.5% 1% 1.5%;
	margin: 0%;
	background-image: linear-gradient(45deg, black 0%, white 50%, black 100%);
	min-height: 100%;
}

body {
	font-family: "Comic Sans MS";
	margin: auto;
	padding: 2%px;
	width: 75%;
	background-color: lightblue;
	border: 2px solid black;
	border-radius: 1% 1% 1% 1%;
}

header {
	text-align: center;
	padding: 5%;
	font-size: xx-large;
	border-bottom: 2px solid black;
	color: white;
	border-bottom: 2px solid black;
	background-image: linear-gradient(45deg, rgb(69, 166, 223), #e3f309);
}

nav {
	border-bottom: 2px solid black;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav ul li {
	float: left;
}

nav ul li:last-child {
	float: right;
}

nav ul li a {
	display: block;
	color: pink;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111;
}

main {
	border-bottom: 2px solid rebeccapurple;
}

main h3 {
	text-indent: 2em;
	margin: 0px;
	padding: 1%;
}

footer {
	background-color: lavenderblush;
	padding: 1%;
	text-align: right;
}
